.profile {
  .header {
    padding: 22px 16px;
    img {
      width: 100%;
    }
  }
  .experience {
    img {
      width: 100%;
    }
  }
  .myFriends {
    img {
      width: 100%;
    }
  }
  .wallet {
    img {
      width: 100%;
    }
  }
}