.schedule {
  min-height: calc(100vh - 44px);
  padding: 22px 16px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    
    .text {
      display: flex;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 31px;
      color: #333333;
    }
    .right {
      height: 20px;
      width: 20px;
    }
  }
  .lists {
    margin-top: 14px;
  }
  .box {
    margin-top: 20px;
    padding: 18px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    &.selected {
      border: 1px solid #00BFBD;
    }
    .left {
      .time {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        color: #000000;
      }
      .slot {
        margin-top: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: flex-end;
        color: #333333;
      }
    }
  }
  .confirmBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: calc(100% - 32px);
    border-radius: 25px;
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 22px;
  }
}