.homepage {
  margin: 0 auto;
  padding: 22px 0;
  max-width: 767px;
  width: calc(100% - 32px);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
  }
  .description {
    margin: 0;
    padding: 23px 0;
    width: 262px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #333333;
  }
  .images {
    margin: 0;
    padding: 0;
    .li {
      list-style: none;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
  }
  .navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    .nav {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #BFBFBF;
      &::after {
        margin-top: 5px;
        width: 19px;
        height: 4px;
        content: '';
        display: block;
      }
    }
    .selected {
      font-weight: bold;
      color: #333333;
      &::after {
        margin-top: 5px;
        width: 19px;
        height: 4px;
        content: '';
        display: block;
        background-color: #00BFBD;
        border-radius: 8px;
      }
    }
  }
}
.confirmModal {
  height: 400px;
  position: absolute;
  bottom: 0;
  background-color: #fff;

  :global(.i-radio-wrapper) {
    padding: 30px 0 28px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #C8C7CC;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .title {
    padding-top: 8px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #333333;
    text-align: center;
  }
  .account {
    padding-top: 18px;
    font-size: 21px;
    font-weight: bold;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.506471px;
    color: #333333;   
    text-align: center;

  }
  .payMethods {

  }
  .articles {

  }
  .content {
    display: flex;
    .visa {
      margin-left: 13px;
    }
    .masterCard {
      margin-left: 10px;
    }
    .express {
      margin-left: 10px;
    }
  }
  .content {

  }
  .text {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #333333;
  }
}
.confirmBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin: 20px 0;
  text-align: center;
}
